<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302730996062-kpjrou24itt13cdk8rrvpotui7o1dv36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302730996062-kpjrou24itt13cdk8rrvpotui7o1dv36</string>
	<key>API_KEY</key>
	<string>AIzaSyAoYWlVOhEghCI30vIqCn7Itvl19acwiiA</string>
	<key>GCM_SENDER_ID</key>
	<string>302730996062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Unite-Guide</string>
	<key>PROJECT_ID</key>
	<string>uniteguide-16142</string>
	<key>STORAGE_BUCKET</key>
	<string>uniteguide-16142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302730996062:ios:c2fa47608a103355d6c7cf</string>
</dict>
</plist>